
.contact-section{   
      margin-top:120px;     
      text-align:center;    
      padding:40px; 
} 
 
form{    
     max-width:500px;    
      margin:auto;   
      background:white;    
      padding:30px;    
      border-radius:10px; 
     box-shadow:0 5px 15px rgba(0,0,0,0.1); 
} 
 
form input, form textarea, form select{   
      width:100%;    
      padding:12px; 
      margin:10px 0;    
      border:1px solid #ccc;   
      border-radius:5px; 
} 
 
form textarea{    
     height:120px;    
     resize:none; 
}
 
#msg{    
     margin-top:10px;   
     font-weight:bold; 
} 
